{% extends "base.html" %}

{% block page_title %}
{{post.judul}}
{% endblock page_title %}

{% block contents %}
  <div class="container">
    <div class="row">
      <div class="col-md-8 mt-3 left">
        {% for post in post_list %}
          <div class="card mb-4">
            <div class="card-body">
              <h3 class="card-title">{{post.judul}}</h3>
              <p class="card-text text-muted h6">{{post.author}}</p>
              <a href="{% url 'blog:detail' post.slug %}" class="btn btn-primary">Baca Selengkapnya</a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% if is_paginated %}
  <nav aria-label="Page">
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
      <li><a href="?page={{page_obj.previous_page_number}}" class="btn btn-primary">Previous</a></li>
      {% endif %}
      {% if page_obj.has_next %}
      <a href="?page={{page_obj.next_page_number}}" class="btn btn-primary">Next</a>
      {% endif %}
    </nav>
  </ul>
  {% endif %}
{% endblock contents %}
